#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  /*line-height: 1;*/
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu {
  width: 300px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 15px 20px;
  border-left: 1px solid #4c4c4c;
  border-right: 1px solid #4c4c4c;
  border-top: 1px solid #4c4c4c;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #8c8c8c;
  /*background: -webkit-linear-gradient(#36aae7, #1fa0e4);*/
  /*background: -moz-linear-gradient(#36aae7, #1fa0e4);*/
  /*background: -o-linear-gradient(#36aae7, #1fa0e4);*/
  /*background: -ms-linear-gradient(#36aae7, #1fa0e4);*/
  /*background: linear-gradient(#36aae7, #1fa0e4);*/
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);

}
//a.disabled {
//  pointer-events: none; /* делаем элемент неактивным для взаимодействия */
//}
//a.silka {
//  width: 240px !important;
//  height: 50px !important;
//  position: absolute !important;
//  top: 0 !important;
//  left: 0 !important;
//  border-right: 1px solid grey !important;
//}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color: #eeeeee;
  background: #585858;
  /*background: -webkit-linear-gradient(#1fa0e4, #1992d1);*/
  /*background: -moz-linear-gradient(#1fa0e4, #1992d1);*/
  /*background: -o-linear-gradient(#1fa0e4, #1992d1);*/
  /*background: -ms-linear-gradient(#1fa0e4, #1992d1);*/
  /*background: linear-gradient(#1fa0e4, #1992d1);*/
}
#cssmenu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #404040;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  border-bottom: 1px solid #404040;
}
.holder {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  cursor: s-resize;
}
//.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
//.holder::after {
//  top: 17px;
//  border-top: 2px solid #ffffff;
//  border-left: 2px solid #ffffff;
//}
//#cssmenu > ul > li > a:hover > span::after,
//#cssmenu > ul > li.active > a > span::after,
//#cssmenu > ul > li.open > a > span::after {
//  border-color: #eeeeee;
//}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#cssmenu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #49505a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  background: #424852;
  color: #ffffff;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
//#cssmenu ul ul li.menu-item-has-children > a::after {
//  display: block;
//  position: absolute;
//  content: "";
//  width: 5px;
//  height: 5px;
//  right: 20px;
//  z-index: 10;
//  top: 11.5px;
//  border-top: 2px solid #eeeeee;
//  border-left: 2px solid #eeeeee;
//  -webkit-transform: rotate(-135deg);
//  -moz-transform: rotate(-135deg);
//  -ms-transform: rotate(-135deg);
//  -o-transform: rotate(-135deg);
//  transform: rotate(-135deg);
//}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #ffffff;
}
/*new*/
#cssmenu ul.nav-menu
  /*.main-navigation div.nav-menu > ul*/
{
  //display: none;
  position: fixed;
  right:-300px;
  top:0;
  //padding-top: 50px;
  background: grey;
  opacity: 0.92;
  bottom:0;
  width: 300px;
  height: 100%;
  z-index: 99;
  transition-property:right;
  transition-duration:1s;
}
#cssmenu ul.nav-menu.toggled-on {
  display: inline-block;
  position:fixed;
  right:0;

}
.menu-toggle {
  display: inline-block;
  /*position:fixed;*/
  /*right:0;*/
}
.menu-btn {
  /*position: absolute;*/
  position:fixed;
  right:40px;
  top: calc( 1.714285714rem +  3.428571429rem + 5px);
  border-radius: 0;
  border: 2px solid #fff;
  background-color: grey;
  text-align: center;
  box-shadow: 1px 3px 1px 0 rgba(0,0,0,.2);
  width: 40px;
  height: 40px;
  padding: 7px;
  cursor: pointer;
  outline: 0;
  /*float: right;*/
  margin-top: 20px;
  margin-bottom: 20px;
  transition-property:right;
  transition-duration:1s;
  z-index: 999;
}
.menu-btn .menu-text {
  display: block;
  text-transform: uppercase;
  color: white;
  font-size: .6em;
  margin-top: -1px;
}
.menu-btn>img {
  vertical-align: middle;
  margin-top: 7px;
  margin-bottom: 7px;
}
.menu-btn.toggled-on {
  right:340px;
  //-webkit-transform: translate3d(-300px,0,0);
  //-moz-transform: translate3d(-300px,0,0);
  //-ms-transform: translate3d(-300px,0,0);
  //-o-transform: translate3d(-300px,0,0);
  //transform: translate3d(-300px,0,0);
}
@media (max-width: 992px) {
  .menu-btn.toggled-on {
    right:300px;
    padding: 20px;
  }
}
@media (min-width: 992px) {
  #cssmenu ul.nav-menu {
    padding-top: 50px;
  }
}